
.navbar-brand span{
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color:rgb(17 66 97);
}

#home{
    background-image: linear-gradient(to right, #36339c , #211c58);
    color: white;
}

html, body {
    height: 100%;
    background:#f9f9f9;
}

#home img {
    width: 100%;

}

.text {
    text-align: center;
    display: flex;
    align-items: center;
}

.big-box {
    background: white;
    padding: 50px;
    border-radius: 20px;
}

.cadastro {
    
}

.cadatro {
    margin-top: -70px;
    height: 100%;
}



footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
    color:black;
    background: white;
}

.d-none {
    background: white!important;
      height: 90vh;
}

.navbar {
    background: white;
}
